<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
	<link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="192x192" href="/Content/KnifeFork-4x.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/Content/KnifeFork-3x.png">
	<link rel="apple-touch-icon" sizes="96x96" href="/Content/KnifeFork-2x.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Skraparen">
	<link rel="manifest" href="/manifest.json">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/js/bundle")
	<!--[if lt IE 9]>@Scripts.Render("~/js/ieFixes")<![endif]-->

	<script type="text/javascript">
		var appInsights = window.appInsights || function (config) {
			function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
		}({
			instrumentationKey: "825bb6f7-3efd-4dd7-a500-0ec7aa86eaaf"
		});

		window.appInsights = appInsights;
		appInsights.trackPageView();
	</script>
</head>
<body>

	@RenderBody()
	<footer>
		<p></p>
	</footer>

	@RenderSection("scripts", required: false)
</body>
</html>
