@model LunchScraper.Models.MenusModel
@{
	ViewBag.Title = "Lunchskraparen";
}

@foreach (var day in Model.Days)
{
	string displayStyle = day.IsVisible ? "block" : "none";
	int previousId = day.Id - 1;
	int nextId = day.Id + 1;
	DateTime currentDate = day.Date;

	<header id="@String.Format("header{0}", day.Id)" style="display: @displayStyle">
		@if (day.ShowPrevioustDayLink)
		{
			<nav class="yesterday whiteFat"><a rel="prev" href="#" onclick='ShowDay(@previousId); return false;'>&laquo; @day.Yesterday</a></nav>
		}
		else
		{
			<div class="yesterday placeHolder"></div>
		}
		@if (day.ShowNextDayLink)
		{
			<nav class="tomorrow whiteFat"><a rel="next" href="#" onclick='ShowDay(@nextId); return false;'>@day.Tomorrow &raquo;</a></nav>
		}
		else if (day.ShowApproxLink)
		{
			<nav class="tomorrow whiteFat"><a rel="next" href="@Url.Action("Approx")" >Approx &raquo;</a></nav>
		}
		else
		{
			<div class="tomorrow placeHolder"></div>
		}
		<h1><span id="knifeFork" class="logo"></span><span class="whiteFat">@day.Today</span></h1>
	</header>

	<div class="body-content" id="@String.Format("body{0}", day.Id)" style="display: @displayStyle">

	@foreach (var lunchMenu in Model.LunchMenus.OrderBy(lm => lm.Restaurant.Id).Where(lm => lm.Dishes.Any(d => d.Date.Date == currentDate.Date)))
	{
			<div class="menu">
				<a href="@lunchMenu.Restaurant.Url" title="@lunchMenu.Restaurant.Name">@lunchMenu.Restaurant.Name</a>
				<ul>
					@foreach (var dish in lunchMenu.GetDishes(currentDate.Date))
					{
						<li><span class="dish">@dish.Description</span></li>
					}
				</ul>
			</div>
	}
	</div>
}

@section scripts {
@{
	var currentDay = Model.Days.FirstOrDefault(d => d.IsVisible);
}
	<script>
		window.onerror = function(error) {
			alert(error);
		};

		var currentDayId = @currentDay.Id;
		detectSwipes();
	</script>
}

